mixin gallery(data)
	+b.gallery&attributes(attributes)
		each container in data
			+e.item
				each image in container
					+e.item-inner
						if image.video
							+e('iframe').video(src=image.file width=image.width height=image.height frameborder="0" allowfullscreen)
						else
							+e('img').image(src=image.file width=image.width height=image.height)
						if image.popup
							+e.popup
								+e.popup-title= image.popup.title
								+e.popup-text !{image.popup.text}
		+e.button Посмотреть далее
